*
{
	background-color: #81DE2A;
}
h1
{
	background-color: Yellow;
	color: red;
	text-align: center;
	font-family: Georgia;
	font-size: 465%;
}
header
{
	height: 20%;
	padding-top: 5px;
}
h3
{
	font-family: cursive;
	font-size: 190%;
}
p
{
	font-family: serif;
	font-size: 125%;
}
ul
{
	padding-left: 0.5%;
	margin-left: 0.5%;
	font-family: serif;
	font-size: 150%;
}
img
{
	height: 13.6%;
	width: 13.6%;
}
